{% extends "auth_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="h-screen flex items-center justify-center">

    <div class="flex w-full max-w-5xl h-[650px] bg-[#111827] rounded-[3rem] shadow-2xl overflow-hidden m-4">

    <!-- LEFT PANEL -->
    <div class="hidden md:flex w-1/2 bg-gradient-to-tr from-[#FBBF24] via-[#F59E0B] to-[#D97706] p-12 flex-col justify-between">
        <div>
            <img src="{% static 'images/universe-logo.png' %}" class="w-48 mb-6" alt="UniVerse Logo">
            <h1 class="text-4xl font-extrabold text-black">
                Explore the<br>UniVerse.
            </h1>
            <p class="text-black/80 mt-4">
                Connect. Share. Discover.
            </p>
        </div>
    </div>


        <!-- RIGHT PANEL -->
        <div class="w-full md:w-1/2 p-12 flex flex-col justify-center">

            <h2 class="text-3xl font-bold text-gray-100 mb-6">Create Account</h2>

            <form method="POST" class="space-y-4">
                {% csrf_token %}

                {% for field in form %}
                <div>
                    <label class="block text-sm font-semibold text-gray-100 mb-1">
                        {{ field.label }}
                    </label>
                    {{ field|add_class:"w-full bg-gray-50 border rounded-2xl py-3 px-4 focus:ring-2 focus:ring-purple-200 outline-none" }}

                    {% for error in field.errors %}
                        <p class="text-red-500 text-sm">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}

            <button type="submit"
                class="w-full bg-gradient-to-r from-[#FBBF24] to-[#D97706] text-black font-bold py-4 rounded-2xl">
                Sign In
            </button>

            </form>

            <p class="text-center text-[#FBBF24] text-sm mt-6">
                Already have an account?
                <a href="{% url 'login' %}" class="text-gray-100 font-bold">Login</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}
